*.dll
*.pdb
*.cache
*.dacpac
Portfolio_Manager/bin/Debug/EntityFramework.xml
Platform.xml
ATF.UI/Portfolio.UI.csproj.user
ATF.UI/bin/
ATF.UI/obj/
ATF.Model/bin
ATF.Model/obj
ATF.Core/obj/
ATF.Core/bin/
ATF.StockPriceService/obj
ATF.StockPriceService/bin
ATF.Data/obj
ATF.Data/bin
ATF.Database/obj
ATF.Database/ATF.Database.dbmdl
ATF.Database/ATF.Database.sqlproj.user
ATF.Database/Portfolio.Database.dbmdl
.vs/Portfolio_Manager/v14/.suo
.vs/config/applicationhost.config
.vs/ATF/v14/.suo
*.suo
/ATF.MockBroker/ATF.MockBrokerDB.sqlproj.user
/ATF.MockBroker/Import Schema Logs/ATF.MockBrokerDB_20160603041359.log
