*.dll
*.pdb
*.cache
*.dacpac
Portfolio_Manager/bin/Debug/EntityFramework.xml
Platform.xml
Portfolio.UI/bin/
Portfolio.UI/obj/
Portfolio_Manager.Model/bin
Portfolio_Manager.Model/obj
Portfolio_Manager.WebForm/bin
Portfolio_Manager.WebForm/obj
Portfolio_Manager/bin
Portfolio_Manager/obj
Portfolio.Core/obj/
Portfolio.Core/bin/
Portfolio.StockPriceService/obj
Portfolio_Manager.Data/obj
.vs/Portfolio_Manager/v14/.suo
.vs/config/applicationhost.config
Database/Portfolio.Database.dbmdl
Portfolio_Manager.Data/obj
Portfolio.UI/Portfolio.UI.csproj.user
Database/obj
