@{
    ViewBag.Title = "Stock";
}
<div id="stock" class="content-container">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <button class="get-stock">Press me to get stocks</button>
    <label class="display-stock"></label>
</div>