@{
    ViewBag.Title = "About";
}
<div id="about" class="content-container">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <button class="add-stock">Add Stock</button>
    <input type="text" class="stock-symbol" />

    <label class="message"></label>
</div>