<div width="250px">
    <label>Symbol:</label>
    <span data-bind="text: Symbol"></span>
    <br />
    <label>LastPrice:</label>
    <span data-bind="text: LastPrice"></span>
    <br />
    <label>Name: </label>
    <span data-bind="text: Name"></span>
    <br />
    <label>Change: </label>
    <span data-bind="text: Change"></span>
    <br />
    <label>ChangePercent: </label>
    <span data-bind="text: ChangePercent"></span>
    <br />
    <label>ChangePercentYTD: </label>
    <span data-bind="text: ChangePercentYTD"></span>
    <br />
    <label>High: </label>
    <span data-bind="text: High"></span>
    <br />
    <label>Low: </label>
    <span data-bind="text: Low"></span>
    <br />
    <label>Market Cap: </label>
    <span data-bind="text: MarketCap"></span>
    <br />
    <label>Open: </label>
    <span data-bind="text: Open"></span>
    <br />


    <p></p>
</div>


