@{
    ViewBag.Title = "Stock";
}
<div id="stock" class="content-container">
    <h2>@ViewBag.Title</h2>
    <h3>@ViewBag.Message</h3>
    <br />
    <div class="right">
        <a class="btn btn-primary" data-bind="attr: {href: '/Stock/Add'}">Add a Stock</a>
    </div>
    <br />
    <div>
        <table width="750">
            <thead>
                <tr>
                    @*<th>Id</th>*@
                    <th>Symbol</th>
                    <th>Company Name</th>
                    <th class="text-right">Value</th>
                    <th class="text-right">% Change</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody data-bind="foreach: stock">
                <tr>
                    @*<td width="10%" data-bind="text: ID"></td>*@
                    <td width="10%" data-bind="text: Symbol"></td>
                    <td width="40%" data-bind="text: Name"></td>
                    @*<td width="40%" data-bind="text: Name"></td>*@
                    <td class="text-right" width="10%" data-bind="money: LastPrice"></td>
                    <td class="text-right" width="20%" data-bind="text: parseFloat(Math.round(ChangePercent * 100) / 100).toFixed(2);"></td>
                    <td width="5%"></td>
                    <td width="5%"><a class="btn btn-default" data-bind="attr: { href: '/Stock/Edit/' + Symbol }">Details</a></td>
                    @*<td width="10%"><a class="btn btn-default" data-bind="attr: { href: '/Stock/Edit/' + ID }">Edit</a></td>*@
                    <td width="5%" ><a class="btn btn-success" data-bind="visible: common.isAuthenticated(), click: app.stock.buyStock">Buy</a></td>
                    <td width="5%" ><a class="btn btn-danger" data-bind="visible: common.isAuthenticated(), click: app.stock.sellStock">Sell</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>