
@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="portfolio" class="content-container">
    <h2>Your Portfolio</h2>
    <h1>Portfolio Value: <span data-bind="money: portfolioValue"></span></h1>
    <h2>Remaining Cash: <span data-bind="money: availableCash"></span></h2>
    <br />

    <table width="450">
        <thead>
            <tr>
                <th>Symbol</th>
                <th class="text-right">Price</th>
                <th class="text-right">Quantity</th>
                <th class="text-right">Total</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: portfolio">
            <tr height="30px">
                <td width="20%" data-bind="text: Symbol"></td>
                <td class="text-right" width="20%" data-bind="money: Price"></td>
                <td class="text-right" width="30%" data-bind="text: Quantity"></td>
                <td class="text-right" width="30%" data-bind="money: Total"></td>
                @*<td width="20%"><a class="btn btn-default" data-bind="attr: { href: '/Stock/Edit/' + ID }">Edit</a></td>*@
            </tr>
        </tbody>
    </table>
</div>